

<% @categories = @exercices.map { |e| e.category  }.uniq %>
<% ind = @categories.find_index("Exercice personnel") %>
<% if ind %>
  <%  @categories.insert(0, @categories.delete(@categories[ind])) %>
<% else %>
<%  @categories.insert(0, "Exercice personnel") %>
<% end %>
<% @categories.each { |c| } %>
<div class="container">
  <% @categories.each do |cat| %>
    <div class= "title-left-layout underline-title">
      <h2><%= cat.capitalize %></h2>
    </div>
    <div class="row">
      <% @exercices.where(category: cat).each do |exercice| %>
        <div class="col-sm-4 exercices-cards-searched">
          <div class="card m-b-20"  data-name="<%= exercice.name %>">
            <div class="card-body card-exercice-hover">
              <h2><%= exercice.name %> </h2>
                <p>  <%= exercice.description.first(120) + "..." %> </p>
            </div>
            <div class= "card-footer text-muted">
              Catégorie : <strong><%= exercice.category.capitalize %></strong>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>