<% content_for :meta_title, "#{DEFAULT_META["meta_product_name"]} - Mon tableau de bord" %>
<div class="content dashboard-programs-section">
  <div class="container text-center">
    <h1 class="title_programs"> Mes Programmes </h1>
      <div class="row btn-programs">
        <%= link_to new_training_path do %>
          <button class="btn btn-outline-primary btn-block">Créer votre programme</button>
        <% end %>
      </div>
      <div class="row list_training">
         <%-# render 'shared/card_training' %>
         <% @trainings.order('updated_at desc').each do |training| %>
         <div class="col-sm-4 col-12">
         <%= link_to training_path(training) do %>
            <div class="card m-b-20 card_training" data-id="<%= training.id %>" data-name="<%= training.name %>" data-completion="fzef">
               <div class="card-header">
                  <h3><%= training.name %></h3>
               </div>
               <div class="card-body card_relative">
                    <blockquote class="card-bodyquote align-bottom">
                      <i class="fa fa-flag-checkered goal" aria-hidden="true"></i>
                      <p>Exercices : <%= training.series.count %></p>
                      <p>Séries : <%= training.seances.count %></p>
                    </blockquote>
                    <div style="border-left:1px solid #AAA;height:100px"></div>
                    <blockquote class="card-bodyquote align-bottom">
                      <i class="fa fa-check check" aria-hidden="true"></i>
                      <p>Séances : <%= training.seances.count %></p>
                      <p>Complétion : <%= (training.percent * 100).round() %> %</p>
                    </blockquote>
               </div>
            </div>
         <% end %>
         </div>
         <% end %>
      </div>
   </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $( document ).ready(function() {
    $('.counter').counterUp({
      delay: 100,
      time: 1200
    });
    $('.circliful-chart').circliful();
    });
  <% end %>
  <%= javascript_pack_tag 'index_trainings' %>
<% end %>
