<div class="container-fluid trainings-show">
  <div class="row">
    <div class="col-lg-6">
      <div class= "title-training text-center">
        <h1>Les seances: "<%= @training.name %>"</h1>
      </div>
        <%= render 'seances/table_index_seances', seances: @seances %>
    </div>
    <div class="col-lg-6">
      <div class= "title-training text-center">
        <h1>Ajouter "<%= @training.name %>" à une autre séance</h1>
      </div>
      <%= simple_form_for @seance, url: training_seances_path(@training), method: :post do |f| %>
        <div class="form_seance row text-center">
          <%= f.label :date, label: "A quand votre prochaine séance ?", class: "col-3 col-form-label" %>
          <%= f.datetime_field :date, placeholder: DateTime.now, class: "form-control datepicker-inline col-5", label: false %>
          <%= f.submit "Créer ma séance", class: "btn btn-outline-success btn-lg btn-margin-left-right col-3" %>
        </div>
      <% end %>
    </div>
  </div>

  <h2 class="sous-title text-center">Rappel de mon programme</h2>
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card-box">
        <table class="tableau">
          <thead>
            <tr class="toto">
              <th>Exercice</th>
              <th>Objectif</th>
            </tr>
          </thead>
          <tbody>
            <% @training.series.each do |serie| %>
            <tr class="toto">
              <td><%= serie.exercice.name %></td>
              <td><%= serie.goal %></td>
            <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <center><a><%= link_to "Supprimer ce programme", training_path(@training), class:"btn btn-outline-danger btn-rounded", method: :delete, data: { confirm: "Êtes-vous sur/e de vouloir supprimer ce programme? (Cette action est irréversible)" }%></a></center>
</div>




