<%= simple_form_for @profile do |f| %>
<div class="row form-profil">
  <div class="col-offset-2 col-5">
    <%= f.input :first_name, placeholder: "Guillaume", label: "Prénom" %>
    <%= f.input :last_name, placeholder: "Capelle", label: "Nom" %>
    <%= f.label :photo, label: "Sélectionner une photo de profil", for: "profile_photo", id: "label", class: "btn btn-outline-primary btn_form" %>
    <%= f.input :photo, wrapper_html: {class: "input_file"} %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>
  <div class="col-offset-2 col-5">
    <div class="row">
      <div class="col-6">
        <%= f.input :height, placeholder: "180", label: "Taille" %>
      </div>
      <div class="col-6">
        <%= f.input :weight, placeholder: "80", label: "Poids" %>
      </div>
    </div>
    <%= f.input :ville, placeholder: "Lille" %>
    <%= f.input :specialite, placeholder: "Burpees", label: "Exercice préféré" %>
    <%= f.input :user_id, as: :hidden, value: current_user.id %>
  </div>
</div>
<div class="row sub_form">
  <%= f.submit "Valider mon profil", class: "btn btn-outline-success btn-lg btn-margin-left-right" %>
</div>
<% end %>

<% content_for(:after_js) do %>
  <%= javascript_pack_tag 'form_profile' %>
<% end %>