<div class="container">
<div class="row justify-content-md-center">
  <div class=" col-md-offset-3 col-md-6">
    <div class="text-center card-box gladius-card">
      <div class="member-card">
        <div class="m-b-10 center-page">
          <% if current_user.profile.photo? %>
          <%= cl_image_tag @profile.photo, class: "rounded-circle img-thumbnail photo-profil", :gravity=>"face", :width=>120, :height=>120, :crop=>"fill" %>
          <% else %>
          <%= cl_image_tag "placeholder-gladius_tzhg4x.png", class: "rounded-circle img-thumbnail photo-profil", :gravity=>"face", :width=>120, :height=>120, :crop=>"fill" %>
          <% end %>
        </div>
      <div class="">
        <h4 class="m-b-5 mt-2"><%= current_user.profile.first_name %> <%= current_user.profile.last_name %></h4>
        <p class="text-muted"><%= current_user.email %></p>
      </div>
        <!-- <button type="button" class="btn btn-success btn-sm w-sm waves-effect m-t-10 waves-light"><%= link_to "Edit", edit_profile_path%></button> -->
        <%= link_to "Modifier profil", edit_profile_path, class: "btn btn-success btn-sm w-sm waves-effect m-t-10 waves-light" %>
        <!-- <button type="button" class="btn btn-danger btn-sm w-sm waves-effect m-t-10 waves-light">Message</button>
         -->
        <%= link_to "Email / mot de passe", edit_user_registration_path, class: "btn btn-danger btn-sm w-sm waves-effect m-t-10 waves-light"%>
        <div class="text-center m-t-40">
          <p class="text-muted font-13"><strong>Taille :</strong> <span class="m-l-15"><%= current_user.profile.height %> <%= "cm" if current_user.profile.height %></span></p>
          <p class="text-muted font-13"><strong>Poids :</strong><span class="m-l-15"><%= current_user.profile.weight %> <%= "kg" if current_user.profile.weight %></span></p>
          <p class="text-muted font-13"><strong>Ville :</strong> <span class="m-l-15"><%= current_user.profile.ville%></span></p>
          <p class="text-muted font-13"><strong>Mon exo phare :</strong> <span class="m-l-15"><%= current_user.profile.specialite%></span></p>
        </div>
          <ul class="social-links list-inline m-t-30 mb-0">
            <li class="list-inline-item">
              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
          <!--   </li>
            <li class="list-inline-item">
              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a> -->
            </li>
          </ul>
        </div>
      </div> <!-- end card-box -->
    </div> <!-- end col -->
</div>
</div>
                <!-- end row -->

