<div class="card m-b-20 card-body card_height text-xs-center">
  <h3 class="card-title serie_name"><%= serie.exercice.name %></h3>
  <div class="cards_modif card_compl">
    <div class="col-6">
      <p class="card-text">
        <i class="fa fa-bullseye fa-2x" aria-hidden="true"></i>  <%= serie.goal %>
      </p>
    </div>
    <input type="hidden" value="<%= serie.id %>" name="serie<%= x %>[id]">
    <div class="form-group card_series col-6">
      <div class="input-group bootstrap-touchspin ">
        <span class="input-group-btn">
          <button class="btn btn-primary bootstrap-touchspin-down card-moins" type="button">-</button></span>
          <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
          <input id="input"
            type="text"
            value="<%= serie.goal %>"
            name="serie<%= x %>[done]"
            data-bts-min="0"
            data-bts-max="10"
            value="10"
            min="0"
            data-bts-step="1"
            data-bts-decimal="0"
            data-bts-step-interval="10"
            data-bts-force-step-divisibility="round"
            data-bts-step-interval-delay="500"
            data-bts-booster="true"
            data-bts-boostat="<%= serie.goal %>"
            data-bts-min-boostat="0"
            data-bts-max-boosted-step="false"
            data-bts-mousewheel="true"
            data-bts-button-down-class="btn btn-default"
            data-bts-button-up-class="btn btn-default"
            class="form-control input-rep"
          style="display: block;">
          <span class="input-group-btn">
          <button class="btn btn-primary bootstrap-touchspin-up card-plus "
              type="button">+</button>
        </span>
      </div>
    </div>
  </div>
</div>
