<!-- Navigation Bar-->
<header id="topnav">
    <div class="topbar-main">
        <div class="container-fluid">

                <!-- Image Logo -->
            <%= link_to trainings_path, class: "logo" do %>
              <div class="logo">
              <%= cl_image_tag "logo-gladius_oppcnv.png", height: "42", class:"logo-lg" %>
              </div>
            <% end %>
            <!-- End Logo container-->

            <div class="menu-extras topbar-custom">
              <% if !current_user %>
                <ul class="list-inline float-right mb-0 menu-top-gladius">
                    <div class="lines">
                      <%= link_to new_user_session_path, class: "ti-home" do %>
                       <span class="text-muted text-nowrap m-b-10 white-text"> Se connecter</span>
                      <% end %>
                      <%= link_to new_user_registration_path, class: "ti-home" do %>
                       <span class="text-muted text-nowrap m-b-10  white-text">  S'inscrire</span>
                      <% end %>
                    </div>
                  </ul>
              <% end %>

                    <ul class="list-inline float-right mb-0">
                       <li class="list-inline-item dropdown notification-list">
                        <a class="nav-link dropdown-toggle waves-effect nav-user" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                        <% if current_user %>
                          <% if current_user.profile %>
                            <% if current_user.profile.photo? %>
                              <%= cl_image_tag current_user.profile.photo,  :gravity=>"face", :width=>36, :height=>36, :crop=>"fill", class: "rounded-circle" %>
                            <% else %>
                              <%= cl_image_tag "placeholder-gladius_tzhg4x.png", class: "rounded-circle" %>
  <!--                             <img src="assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle"> -->
                            <% end %>
                          <% end %>
                        <% end %>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
                            <!-- item-->

                          <% if current_user %>
                            <% if current_user.profile %>
                              <div class="dropdown-item noti-title">
                                  <h5 class="text-overflow"><small class="text-white">Bienvenue <%= current_user.profile.first_name %> !</small></h5>
                              </div>
                            <% end %>
                          <% end %>


                            <!-- item-->
                          <% if current_user %>
                            <% if current_user.profile %>
                              <%= link_to profile_path(current_user.profile), class: "dropdown-item notify-item" do %>
                                <i class="mdi mdi-account-star-variant"></i> <span>Profil</span>
                              <% end %>
                            <% else %>
                              <%= link_to new_profile_path, class: "dropdown-item notify-item" do %>
                                <i class="mdi mdi-account-star-variant"></i> <span>Créer mon profil</span>
                              <% end %>
                            <% end %>
                          <% end %>

                            <!-- item-->
                          <% if current_user %>
                            <% if current_user.profile %>
                              <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item notify-item" do %>
                                <i class="mdi mdi-logout"></i> <span>Logout</span>
                              <% end %>
                            <% end %>
                          <% end %>
                        </div>
                    </li>

                </ul>
            </div>

            <!-- end menu-extras -->

            <div class="clearfix"></div>


        </div> <!-- end container -->
    </div>
    <!-- end topbar-main -->
<% if current_user %>
  <% if current_user.profile %>
    <div class="navbar-custom">
        <div class="container-fluid">
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">

                    <li class="has-submenu">
                      <%= link_to "Dashboard", trainings_path, class: "ti-home"%>
                    </li>

                    <li class="has-submenu">
                        <a href="#"><i class="ti-paint-bucket"></i>My programs
                      </a>
                        <ul class="submenu">
                            <li><a href="ui-buttons.html">Buttons</a></li>
                            <li><a href="ui-cards.html">Cards</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- End navigation menu -->
            </div> <!-- end #navigation -->
        </div> <!-- end container -->
    </div> <!-- end navbar-custom -->
  <% end %>
<% end %>
</header>
<!-- End Navigation Bar-->
